@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

ul,
li,
a {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5d9fd4;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.search-query {
  font: inherit;
  padding: 5px;
  max-width: 600px;
  border: none;
  border-radius: 4px;
}

.search-query:focus {
  outline: none;
  border-color: #2196f3;
  border-radius: 5px;
}

.gallery {
  display: flex;
  max-width: 1140px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.gallery-image {
  max-height: 100%;
  width: 100%;
  display: block;
  height: 240px;
  object-fit: cover;
}

.photo-card {
  max-width: 360px;
}

.gallery-link {
  position: relative;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  max-height: 100%;
}

.gallery-link:hover {
  cursor: zoom-in;
  transform: scale(1.02);
}

.info {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-grow: 2;
}

.info-item {
  font-size: large;
  color: black;
}

.info-text {
  font-size: medium;
}

.disable-scroll {
  overflow: hidden;
}

.js-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.loader {
  margin-top: 20px;
  font-size: 24px;
  text-align: center;
}